<!-- set the variable page to be the frontpage -->
{% assign page = pages.frontpage %}
<h2>{{ page.title }}</h2>
<p>{{ page.content }}</p>

<!-- set the variable collection to the frontpage collection -->
{% assign collection = collections.frontpage %}
<div class="clearfix">
  <h2>Collection: {{ collection.title }}</h2>
    {% for product in collection.products | limit:8 %}
      {% include 'product-loop' %}
    {% endfor %}
</div>
